<h2 met-dialog-title>Update Entry</h2>
<met-dialog-content [formGroup]="form">
    <mat-form-field class="new-entry-field" >
        <input matInput placeholder="Enter Description" formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field class="new-entry-field">
        <mat-select placeholder="Enter Type" formControlName="isExpense">
            <mat-option *ngFor="let type of types" [value]="type.value">    
                {{type.display}}
            </mat-option>
        </mat-select>
    </mat-form-field>
     <br>   
    <mat-form-field class="new-entry-field">
        <input matInput placeholder="Enter Value" formControlName="value">
    </mat-form-field>
    <br>
</met-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button" (click)="save()">Save</button>
</mat-dialog-actions>
